.about-section {
    width: 80%;
    margin: 0 auto;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img {
    margin-right: 30px;
}

.about-text {
    border: 4px solid black;
    padding: 30px;
    background-color: #fff;
    width: 65%;
    margin-bottom: 40px;
}

.about-text > p {
    font-size: 20px;
    border-color: transparent;
    background-color: #fff;
}

@media screen and (max-width: 960px) {
    .about-wrapper {
        flex-direction: column;
    }

    .about-img {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}