:root {
    --primary: black;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-wrapper > button {
    background-color: white;
}

.btn {
    padding: 8px 20px;
    /* border-radius: 2px; */
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 2px solid var(--primary);

}

.btn--outline {
    background-color: white;
    color: black;
    padding: 8px 20px;
    border: 2px solid var(--primary);
    transition: all .3s ease-out;
}

.btn--outline:hover {
    background-color: yellow;
}

@media screen and (max-width: 960px) {
    .btn-wrapper > button, .btn--outline {
        background-color: yellow;
    }
}