.heading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.heading-container > h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.heading-container > span {
    font-size: 20px;
}