.product-container {
    width: 60%;
    margin: 0 auto;
}

.product-img > img {
    width: 100%;
    margin-bottom: 60px;
}

.product-info {
    font-size: 17px;
    background-color: white;
}

.product-info > p {
    background-color: white;
    margin-bottom: 10px;
}
@media screen and (max-width: 960px) {
    font-size: 15px;
}