.fa-chevron-circle-up {
    font-size: 40px;
    position: fixed;
    left: 95%;
    bottom: 60px;
}

@media screen and (max-width: 960px) {
    .fa-chevron-circle-up {
        font-size: 35px;
        left: 85%;
        background: transparent;
    }
}
