.sns-btns {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px;
}

.sns-btns a {
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.sns-btn {
    font-size: 30px;
}

.sns-btns--fixed {
    position: fixed;
    margin-bottom: 0;
    top: 50%;
    right: 3%;
    z-index: 1;
}