* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(225,229,230);

  }

  section {
      padding: 40px 0 30px;
      width: 80%;
      margin: 0 auto;
  }

  .about-page-section {
    border: 4px black solid;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
}
  
@media screen and (max-width: 960px) {
  section {
    padding: 40px 0 30px;
    width: 90%;
    margin: 0 auto;
}
}